// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.title {
  background-image: url(http://getskeleton.com/examples/landing/images/values-bg.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  margin-bottom: 40px;
  padding: 30px 20px;
  text-align: center;
}

  .title a,
  .title a:visited {
    color: #bbedfc;
  }
  .title a:hover,  {
      color: darken(#bbedfc, 20);
  }

  .title p {
    margin-bottom: 0;
  }

main {
  margin: 0 auto;
  max-width: 800px;
  padding-left: 40px;
  padding-right: 40px;
}

label {
  font-size: 60%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

form input[type=submit] {
  display: block;
}

.errors {
  color: #9e0000;
  font-size: 70%;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

  .errors li {
    margin-bottom: 0;
  }
